{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    {% if post.published_date %}
      <div class="post">
        <div class="date">
          <p>Опубликовано: {{ post.published_date }}</p>
        </div>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% with comments_count=post.approved_comments %}
          {% if comments_count %}
            <a href="{% url 'post_detail' pk=post.pk %}">Комментариев: {{ comments_count }}</a>
          {% endif %}
        {% endwith %}
      </div>
      {% if not forloop.last%}
        <hr>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}
